* {
   font-family: $font-main;
   margin: 0;
   padding: 0;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-font-smoothing: unset;
   -moz-osx-font-smoothing: grayscale;
   font-smoothing: antialiased;
   -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   backface-visibility: hidden;

   &:focus {
      outline: none;
   }
}
@for $i from 1 through 12 {
   .col-#{$i} {
      width: 8.3333334%*$i;
   }
}
