i {
   background-repeat: no-repeat;
   background-position: center;
   float: left;
   background-size: cover;
   display: inline-block;

   &.close {
      background-image: url("#{$assets-path}/icons/close-button.svg");
   }

   &.hamburger {
      background-image: url("#{$assets-path}icons/menu-button.svg");
   }

   &.phone {
      background-image: url("#{$assets-path}icons/icon.svg");
   }

   &.mail {
      background-image: url("#{$assets-path}icons/close-envelope.svg");
   }
}