@import "_reset.scss";
@import "_variables.scss";
@import "_mixins.scss";
@import "_general.scss";
@import "screen/_base.scss";
@import "_icons.scss";

@media (min-width: #{$phone-min-width}) and (max-width: #{$phone-max-width - 1px}) {
    @import"screen/_320.scss";
}

@media (min-width: #{$phone-max-width}) and (max-width: #{$tablet-min-width - 1px}) {
    @import"screen/_500.scss";
}

@media (min-width: #{$tablet-min-width}) and (max-width: #{$tablet-max-width - 1px}) {
    @import"screen/_800.scss";
}

@media (min-width: #{$tablet-max-width}) and (max-width: #{$desktop-mdpi - 1px}) {
    @import"screen/_1024.scss";
}

@media (min-width: #{$desktop-mdpi}) and (max-width: #{$desktop-hdpi - 1px}) {
    @import"screen/_1200.scss";
}

@media (min-width: #{$desktop-hdpi}) {
    @import"screen/_1440.scss";
}
