html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: unset;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  *:focus {
    outline: none; }

.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25.0%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50.0%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75.0%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100.0%; }

* {
  box-sizing: border-box; }

body {
  position: relative;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif; }

.fixed-width {
  width: 80%;
  margin: 0 10% 20px; }

footer,
header,
section {
  width: 100%;
  margin-bottom: 20px; }

nav {
  background-color: darkgreen;
  height: 50px; }

header {
  background-image: url(../assets/photos/grass.jpg);
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat; }

.main-content {
  display: -ms-flexbox;
  display: flex; }
  .main-content__boxes--leftbox {
    background-color: lightblue;
    margin-bottom: 20px;
    height: 250px;
    -ms-flex: 1;
        flex: 1;
    font-size: 20px;
    padding: 50px; }
    .main-content__boxes--leftbox:last-child {
      margin-bottom: 0; }
  .main-content__boxes--rightbox {
    height: 790px;
    -ms-flex: 2;
        flex: 2;
    margin-left: 20px;
    background-color: green; }

.darkred {
  height: 250px;
  background-color: darkred; }

.green {
  background-color: green;
  height: 300px; }

footer {
  background-color: darkkhaki;
  height: 300px; }

.cat {
  width: 300px;
  height: 300px;
  margin-top: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  float: left; }

/*home*/
i {
  background-repeat: no-repeat;
  background-position: center;
  float: left;
  background-size: cover;
  display: inline-block; }
  i.close {
    background-image: url("../assets//icons/close-button.svg"); }
  i.hamburger {
    background-image: url("../assets/icons/menu-button.svg"); }
  i.phone {
    background-image: url("../assets/icons/icon.svg"); }
  i.mail {
    background-image: url("../assets/icons/close-envelope.svg"); }

@media (min-width: 320px) and (max-width: 499px) {
  .off-320 {
    display: none !important; }
  .fixed-width {
    width: 95%;
    margin: 0 2.5% 20px; }
  .main-content {
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse; }
    .main-content .col-4 {
      width: 100%; }
    .main-content .col-8 {
      width: 100%; }
    .main-content__boxes--leftbox {
      padding: 30px;
      width: 100%;
      display: inline-block;
      float: left; }
      .main-content__boxes--leftbox:last-child {
        width: 100%;
        margin-bottom: 0; }
    .main-content__boxes--rightbox {
      margin-bottom: 20px;
      margin-left: 0; } }

@media (min-width: 500px) and (max-width: 799px) {
  .off-640 {
    display: none !important; }
  .fixed-width {
    width: 90%;
    margin: 0 5% 20px; }
  .main-content {
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse; }
    .main-content .col-4 {
      width: 100%; }
    .main-content .col-8 {
      width: 100%; }
    .main-content__boxes--leftbox {
      padding: 30px;
      width: 100%;
      display: inline-block;
      float: left; }
      .main-content__boxes--leftbox:last-child {
        width: 100%;
        margin-bottom: 0; }
    .main-content__boxes--rightbox {
      margin-bottom: 20px;
      margin-left: 0; } }

@media (min-width: 800px) and (max-width: 1023px) {
  .off-768 {
    display: none !important; }
  .fixed-width {
    width: 90%;
    margin: 0 5% 20px; }
  .main-content {
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse; }
    .main-content .col-4 {
      width: 100%; }
    .main-content .col-8 {
      width: 100%; }
    .main-content__boxes--leftbox {
      padding: 30px;
      width: calc(50% - 10px);
      display: inline-block;
      float: left; }
      .main-content__boxes--leftbox:nth-child(2) {
        margin-left: 20px; }
      .main-content__boxes--leftbox:last-child {
        width: 100%;
        margin-bottom: 0; }
    .main-content__boxes--rightbox {
      margin-bottom: 20px;
      margin-left: 0;
      height: 500px; } }

@media (min-width: 1024px) and (max-width: 1199px) {
  .off-1024 {
    display: none !important; }
  .main-content__boxes--leftbox {
    padding: 30px; } }

@media (min-width: 1200px) and (max-width: 1439px) {
  .off-1200 {
    display: none !important; } }

@media (min-width: 1440px) {
  .off-1440 {
    display: none !important; } }
