.off-320 {
    display: none !important;
}

.fixed-width {
    width: 95%;
    margin: 0 2.5% 20px;
}

.main-content {
    flex-direction: column-reverse;

    .col-4 {
        width: 100%;

    }

    .col-8 {
        width: 100%;
    }

    &__boxes {

        &--leftbox {
            padding: 30px;
            width: 100%;
            display: inline-block;
            float: left;

            &:last-child {
                width: 100%;
                margin-bottom: 0;
            }
        }

        &--rightbox {
            margin-bottom: 20px;
            margin-left: 0;
        }
    }
}