.off-768 {
   display: none !important;
}

.fixed-width {
   width: 90%;
   margin: 0 5% 20px;
}

.main-content {
   flex-direction: column-reverse;

   .col-4 {
      width: 100%;

   }

   .col-8 {
      width: 100%;
   }

   &__boxes {

      &--leftbox {
         padding: 30px;
         width: calc(50% - 10px);
         display: inline-block;
         float: left;

         &:nth-child(2) {
            margin-left: 20px;
         }

         &:last-child {
            width: 100%;
            margin-bottom: 0;
         }
      }

      &--rightbox {
         margin-bottom: 20px;
         margin-left: 0;
         height: 500px;
      }
   }
}