* {
   box-sizing: border-box;
}

body {
   position: relative;
   width: 100%;
   font-family: Arial, Helvetica, sans-serif;
}

.fixed-width {
   width: 80%;
   margin: 0 10% 20px;
}

footer,
header,
section {
   width: 100%;
   margin-bottom: 20px;
}

nav {
   background-color: darkgreen;
   height: 50px;
}

header {
   background-image: url(#{$assets-path}photos/grass.jpg);
   height: 500px;
   background-size: cover;
   background-repeat: no-repeat;
}

.main-content {
   display: flex;

   &__boxes {

      &--leftbox {
         background-color: lightblue;
         margin-bottom: 20px;
         height: 250px;
         flex: 1;
         font-size: 20px;
         padding: 50px;

         &:last-child {
            margin-bottom: 0;
         }

      }

      &--rightbox {
         height: 790px;
         flex: 2;
         margin-left: 20px;
         background-color: green;
      }
   }
}

.darkred {
   height: 250px;
   background-color: darkred;
}

.green {
   background-color: green;
   height: 300px;
}

footer {
   background-color: darkkhaki;
   height: 300px;
}

.cat {
   width: 300px;
   height: 300px;
   margin-top: 40px;
   background-size: cover;
   background-repeat: no-repeat;
   display: block;
   float: left;
}

/*home*/